<link rel="stylesheet" href="../styles.css">

<div id="container">
    <div id="headerArea">
        <div id="header"><h1>SZN Archive</h1></div>
    </div>

    <div id="flex">
        <aside id="leftSidebar" style="margin-right: 10px;">
            <h2>Directory</h2>
            <div class="box">
                <p>Find your way around the archive! :3</p>
                <ul style="padding-left: 10px;">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Browse</a></li>
                    <li><a href="#">Rate</a></li>
                    <li><a href="#">Upload</a></li>
                </ul>
            </div>
        </aside>
        <main>
            <h1>Welcome to The Archive!</h1>
            <p>If you're on this website, you probably love niche music. Well, there are lots of ways you show off how niche you are:</p>
            <ul>
                <li><strong>Rate</strong> a song somebody's uploaded to show how many opinions you have on the niche music you listen to!</li>
                <li><strong>Upload</strong> a song yourself, to show off that you've found a song so niche nobody's put it on here yet!</li>
                <li>New on the niche journey? <strong>Browse</strong> the tunes people have uploaded and find some brand new niche music ou haven't heard!</li>
            </ul>
            <p>Alternatively, you can reconsider your life choices, realise that you listen to errible music, and SEEK SOME HELP!!</p>
        </main>
        <aside id="rightSidebar" style="margin-left: 10px;">
            <h2>Sign In!</h2>
            <div class="box">
                <form action="/submit-form" method="POST">
                    <h3>Username:</h3>
                    <input type="text" id="username" name="username" required>
                    <h3>Password:</h3>
                    <input type="password" id="password" name="password" required>
                    <input type="submit" value="Submit">
                 </form>
            </div>
            <h2>Sign Up!</h2>
            <div class="box">
                <form action="/submit-form" method="POST">
                    <h3>Username:</h3>
                    <input type="text" name="username" required>
                    <h3>Email Address:</h3>
                    <input type="text" name="username" required>
                    <h3>Password:</h3>
                    <input type="password" name="password" required>
                    <h3>DOB - Please use DD/MM/YYYY:</h3>
                    <div>
                        <input type="number" name="dd" required>
                        <input type="number" name="mm" required>
                        <input type="number" name="yyyy" required>
                    </div>
                    <input type="submit" value="Submit">
                 </form>
            </div>
        </aside>
    </div>
    <footer id="footer" style="margin-top: 10px;">CC0 Public Domain, 2022</footer>
</div>

